In [1]:
import os
import numpy as np
import pandas as pd
import torch

In [2]:
os.chdir("D:\\datasets\movielens")

In [3]:
moviesdf = pd.read_csv("movies.csv")
ratingsdf = pd.read_csv("ratings.csv")
del ratingsdf['timestamp']

In [4]:
ratingsdf.tail()

        userId  movieId  rating
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

In [5]:
#to make a recommendation for a person, add ratings into the dataframe

def addrating(dataframe, movieIds, ratings):
    new_df = pd.DataFrame()
    new_df['movieId'] = pd.Series(movieIds).astype('int64')
    new_df['rating'] = pd.Series(ratings).astype('int64')
    new_df['userId'] = np.int64(900000)
    df = dataframe.append(new_df)
    
    for i in range(len(movieIds)):
        print('rating: ' + str(ratings[i]) + '  ||  ' +
              moviesdf[moviesdf['movieId'] == movieIds[i]]['title'].item())
    
    return df
#when adding our own user ratings we'll choose a larger userId than anything already in the dataframe
print(ratingsdf['userId'].max())

610

In [6]:
movieIds = [26171, 68237, 1251, 1232, 3584, 66097, 6711, 90866]
ratings = [5.0, 5.0, 4.0, 3.5, 3.5, 5.0, 4.0, 4.0]

addrating(ratingsdf, movieIds, ratings)

rating: 5.0  ||  Play Time (a.k.a. Playtime) (1967)
rating: 5.0  ||  Moon (2009)
rating: 4.0  ||  8 1/2 (8½) (1963)
rating: 3.5  ||  Stalker (1979)
rating: 3.5  ||  Breathless (1983)
rating: 5.0  ||  Coraline (2009)
rating: 4.0  ||  Lost in Translation (2003)
rating: 4.0  ||  Hugo (2011)

    userId  movieId  rating
0        1        1     4.0
1        1        3     4.0
2        1        6     4.0
3        1       47     5.0
4        1       50     5.0
..     ...      ...     ...
3   900000     1232     3.0
4   900000     3584     3.0
5   900000    66097     5.0
6   900000     6711     4.0
7   900000    90866     4.0

[100844 rows x 3 columns]

In [7]:
data = pd.merge(moviesdf, ratingsdf, on='movieId')

In [8]:
datasetpd = data.pivot_table(index = 'userId', columns = 'movieId', values = 'rating')
datasetpd.tail()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
##in the event that the dataset is too large for .pivot_table, a manual implementation is provided below


#dataset = {}
#for i in moviesdf['movieId']:
#    movierated = ratingsdf[ratingsdf['movieId'] == i]
#    ser= pd.Series(list(movierated['rating']), list(movierated['userId']))
#    dataset[i] = ser
#datasetpd = pd.DataFrame(dataset)

We consider the loss function, a sum over terms where user $i$ has given a rating for movie $j$. This condition is represented by the function $r(i, j)$ which is equal to 1 whenever the condition holds, 0 otehrwise. There are regularization terms controlled by $\lambda$.
$$J = \frac{1}{2} \sum_{(i,j): r(i,j) = 1} ({\theta^{(j)}}^{T} x^{(i)} - y^{(i,j)})^2 + \frac{\lambda}{2}\sum_{i, k} x^{(i)}_k + \frac{\lambda}{2}\sum_{j, k} \theta^{(j)}_k$$

In the above formula, the row vector $\theta^{(j)}$ represents some latent features of movie $j$ to be learned, and $x^{(i)}$ represents some learned representation of user $i$

In [9]:
#Rmat will be important in determining which values to sum over.
#Entry (i,j) is True when user i gives a rating for movie j, and False otherwise.

Rmat = datasetpd.isnull()
Rmat.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,False,True,False,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
#it is sufficient to regard missing values (ie user i has not rated movie j) in the target matrix as having 0 value,
#as we will use Rmat to ensure that the corresponding terms are 0 when we evaluate the loss function.
datasetpdclean = datasetpd.fillna(value=0)

In [11]:
data_np = datasetpdclean.values
Rmat_np = Rmat.values
Rmat_np = Rmat_np.astype(float)

data_np.shape

(610, 9724)

In [42]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [120]:
users_torch = torch.randn((610, 20), requires_grad = True, dtype = torch.float, device = device)
movies_torch = torch.randn((20, 9724), requires_grad = True, dtype = torch.float, device = device)

Rmat_torch = 1 - torch.from_numpy(Rmat_np).to(device)
target_torch = torch.from_numpy(data_np).to(device)

### Our model will learn $\texttt{users_torch.shape[1]}$ dimensional vectors for each user and movie. Tentatively, we won't use regularization.

In [121]:
learning_rate = 1e-6
optimizer = torch.optim.SGD([users_torch, movies_torch], lr = learning_rate)

In [122]:
for epoch in range(30000):
    optimizer.zero_grad()
    
    #matrix multiplication
    yhat = torch.mm(users_torch, movies_torch)
    
    #element wise
    to_sum = torch.mul(yhat, Rmat_torch)
    
    error = (to_sum - target_torch)**2
    loss = torch.sum(error)
    
    loss.backward()
    
    optimizer.step()
    if epoch % 100 == 0:
        print(loss.item())

3383482.336797682
2916313.491249787
2616469.4937102697
2405834.5796255264
2248380.362078344
2125401.1160509684
2026180.1582448576
1944073.8852301892
1874703.5871202801
1815043.420098714
1762922.8267635438
1716736.5113093066
1675266.020759148
1637565.1908217715
1602884.1769433368
1570617.8010291934
1540269.7130764616
1511427.3041630443
1483744.0351232511
1456927.0076027
1430728.3660487572
1404939.4991721343
1379387.2482856726
1353931.5686839875
1328464.108789647
1302907.2427878573
1277213.2361574862
1251363.0399475668
1225364.590854973
1199250.2691853093
1173073.5382716116
1146904.7607761724
1120826.4242391386
1094927.9733995576
1069300.762994369
1044033.3432841667
1019207.5080587848
994895.3294383484
971157.2061086262
948040.970046399
925581.905788825
903803.5101589824
882718.6954130344
862331.3467153623
842637.8871473921
823628.8325284212
805290.2357517844
787604.8438319159
770553.1715083735
754114.2326588151
738266.2225699429
722986.9836119842
708254.3224970484
694046.2942510931
680341.4205081506
667118.7233139101
654357.8686356735
642039.2333292163
630143.888080194
618653.65454884
607551.1189181563
596819.5538419985
586443.0091186042
576406.2181249247
566694.6171119048
557294.2879122652
548191.9965604739
539375.1421661144
530831.6867730599
522550.20446818916
514519.78037834406
506730.0497836051
499171.1654570075
491833.71843663836
484708.7715611247
477787.8331843375
471062.79026199883
464525.948543477
458169.96896785276
451987.8617230244
445972.9738137588
440118.951475495
434419.7557115121
428869.5988682688
423462.9837252775
418194.6700253349
413059.6395936258
408053.13230032305
403170.5530342378
398407.54431132507
393759.93710171076
389223.74078335287
384795.133032494
380470.46644139744
376246.2586623889
372119.1376060659
368085.89334290224
364143.4808954104
360288.9608895661
356519.4640340543
352832.3051657899
349224.89479760337
345694.7345331889
342239.418912787
338856.6546250555
335544.2300459177
332300.0286973494
329122.00072037475
326008.1819313391
322956.67535775097
319965.6594075505
317033.3896634048
314158.17206999584
311338.39287921786
308572.487933135
305858.9394349877
303196.30255104497
300583.17349581583
298018.19974370365
295500.0791702691
293027.5530715998
290599.40511348774
288214.4620114876
285871.5853609955
283569.68988085876
281307.72115971905
279084.6564435535
276899.5021260515
274751.3023532775
272639.14861173637
270562.12484081014
268519.37160444766
266510.0488192949
264533.35838665045
262588.5109496384
260674.75613189075
258791.3346208831
256937.5455866966
255112.6957536401
253316.1119071212
251547.14440973915
249805.16562950722
248089.57361911834
246399.7581610906
244735.15286007596
243095.2006788231
241479.35845783213
239887.10201073994
238317.9116494056
236771.28331445105
235246.74819889804
233743.828239617
232262.07257268403
230801.02881844924
229360.28282270647
227939.39779474627
226537.98002919205
225155.62745733885
223791.95093978237
222446.57977584604
221119.15050218627
219809.30459038922
218516.68975472287
217240.9760878731
215981.82993724867
214738.9279159733
213511.95977212265
212300.6166500908
211104.6093678533
209923.64329476596
208757.44097812462
207605.72700822575
206468.22867249977
205344.69398019096
204234.860738464
203138.48336430703
202055.3122548306
200985.1141996724
199927.65793575486
198882.719337065
197850.081198066
196829.51766980707
195820.82295159093
194823.78644978983
193838.21922430984
192863.9082786535
191900.677995849
190948.33433319157
190006.68797566788
189075.56307856436
188154.78691479214
187244.1827264361
186343.5852474592
185452.83869103855
184571.77791545232
183700.24031333512
182838.07141639467
181985.12830001
181141.26324183098
180306.3197913904
179480.16743550648
178662.66587909398
177853.6899104904
177053.10317563126
176260.76951307335
175476.55810380742
174700.35275355694
173932.03435936282
173171.46735395573
172418.55257983966
171673.1656365899
170935.18575785277
170204.50846396037
169481.03780604003
168764.65825315716
168055.26651885323
167352.76353134456
166657.04674882162
165968.02464115576
165285.5886738767
164609.64747755564
163940.11693792872
163276.90816678418
162619.91895628188
161969.06429534417
161324.2639114441
160685.4301446546
160052.4841425144
159425.3390274786
158803.92200537422
158188.15764253712
157577.96467567433
156973.26485766337
156373.9807737883
155780.05037332146
155191.3905461303
154607.93386505023
154029.61892575186
153456.36805235804
152888.1242339703
152324.82705098242
151766.396515868
151212.77094445145
150663.89423166175
150119.71203473367
149580.15430915746
149045.1662709837
148514.6814529437
147988.6496861552
147467.01498395507
146949.72090210905
146436.71802720043
145927.94616231986
145423.36050257907
144922.90328877504
144426.5292045375
143934.18102520483
143445.81867001264
142961.38443343336
142480.83893380553
142004.12475081417
141531.20696077286
141062.04016736202
140596.57238097256
140134.76393396966
139676.56933394138
139221.94730098036
138770.8577777687
138323.25994348014
137879.11143367275
137438.3746371705
137001.0073647058
136566.96928746768
136136.22337809484
135708.73380313092
135284.46258436848
134863.37423491408
134445.43332554848
134030.6041847775
133618.84954366062
133210.13927397848
132804.43232012397
132401.70402406927
132001.91433981925
131605.036734314
131211.04217724054
130819.8962678522
130431.56586201442
130046.01527674754
129663.21475049449
129283.1443300106
128905.77431451317
128531.07230777395
128159.01426914714
127789.56661202144
127422.70313411168
127058.39215695497
126696.61611456113
126337.34124193141
125980.54725606248

In [100]:
learned_users = users_torch.to('cpu')
learned_movies = movies_torch.to('cpu')

user_input = learned_users[-1, :].view(1, 20)

In [101]:
predicted_ratings = torch.mm(user_input, learned_movies).view(-1,).tolist()

In [102]:
movie_indexes = sorted(range(len(predicted_ratings)), key=lambda k: predicted_ratings[k])

In [115]:
top_rated = movie_indexes[-10:]

In [119]:
#results from representing movies and users by 50 dimensional vectors
moviesdf['title'].take(top_rated)

8467                                     Gone Girl (2014)
4386    Man with the Movie Camera, The (Chelovek s kin...
3753                               Road to Morocco (1942)
6509                                   Rescue Dawn (2006)
1164                Lost World: Jurassic Park, The (1997)
6249                                    Little Man (2006)
3289                                    Adanggaman (2000)
8450                                Equalizer, The (2014)
5247                                        Taxi 3 (2003)
7451                    Undisputed III: Redemption (2010)
Name: title, dtype: object